<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tl.pojul.com.fastim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uHtwqcbuhA1seNKWQOikX8ooZCO2DOGk" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".View.activity.MainActivity"
            android:launchMode="singleTask"
            android:process=":process1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.LoginActivity"
            android:launchMode="singleInstance"
            android:process=":process1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.StartActivity"
            android:excludeFromRecents="true"
            android:process=":process1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.SingleChatRoomActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.MultipleChatRoomActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.ChatRoomActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.ChatFileDownloadActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.VideoActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.UploadPicActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.SavedPicActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.UploadingPicActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.CommunitySetActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.CommunityChatActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.CommunityMapActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.TagMessageActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.WhiteBlackActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.UserSelectActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.WhiteBlackListActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.UserSearchActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.TagReplyActivity"
            android:process=":process1" />
        <activity
            android:name=".View.activity.MoreSubReplyActivity"
            android:process=":process1" />

        <service
            android:name=".View.service.SocketConnService"
            android:enabled="true"
            android:exported="true"
            android:process=":process1" />
        <service
            android:name=".View.service.MarsDaemonService2"
            android:enabled="true"
            android:exported="true"
            android:process=":process2" />

        <receiver
            android:name=".View.broadcast.MarsDaemonReceiver1"
            android:enabled="true"
            android:exported="true"
            android:process=":process1" />
        <receiver
            android:name=".View.broadcast.MarsDaemonReceiver2"
            android:enabled="true"
            android:exported="true"
            android:process=":process2" />
        <receiver
            android:name=".View.broadcast.NetWorkStateReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".View.activity.MyPageActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.UserInfoEditActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.UserPicsActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.GalleryActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.PicReplyActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.UserTagMessActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.LikeUserActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.BeLikedActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.FollowedUsersActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.BeFollowedUsersActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.PicBroseActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.PrivateReplyActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.NearByMessActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.NearByPeopleActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.LockScreenActivity"
            android:configChanges="navigation|orientation|screenLayout|screenSize|touchscreen|keyboard|keyboardHidden|uiMode|layoutDirection|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:process=":process1"
            android:screenOrientation="portrait"
            android:taskAffinity="tl.pojul.com.fastim.lockscreen"
            android:theme="@style/Activity.Translucent" />
        <activity
            android:name=".View.activity.AddFriendActivity"
            android:launchMode="singleInstance"
            android:process=":process1"
            android:taskAffinity="tl.pojul.com.fastim.lockscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.SettingActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.RegistActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.PayMemberActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.activity.CommuDeatilActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.activity.CustomScanActivity"
            android:process=":process1"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>